/* ＝＝＝＝＝＝リセットCSS＝＝＝＝＝＝ */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* float解除 */
.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

/* リンクの飾りをリセット */
a {
  text-decoration: none;
}

/* リンクの色指定 */
a:link, a:visited, a:hover, a:active  {
  color: #FAFAFA;
}



/*＝＝＝＝＝＝ヘッダー＝＝＝＝＝＝*/
header{
  background-color: #EC715F;
  width: auto;
}

.head{
  width: 1024px;
  height: 70px;
  margin: 0 auto;
}

.head img{
  height: 70px;
  float: left;
}

.nav-list{
  float: right;
}

.nav-list-item{
  font-size: 16px;
  color: #FAFAFA;
  padding: 0 30px;

  line-height: 70px; 
  list-style: none;   /* リストの点を取る */
  display: inline-block; 
}





/* ＝＝＝＝＝＝メイン＝＝＝＝＝＝ */
/* ＝＝＝＝＝＝ロレム＝＝＝＝＝＝ */
#lorem{
  height: 650px;
  width: auto;
  background-image: url(img/mv.png); 
  background-size: cover;  /* 縦横比を維持したまま背景領域を埋め尽くす */
  background-position: center;   /* 背景画像中央寄せ */
  text-align: center;
}

.lorem-content h1{
  padding: 200px 0 10px;
  font-size: 64px;
  color: #FAFAFA;
}

.lorem-content p{
  font-size: 20px;
  color: #FAFAFA;
}





/* ＝＝＝＝＝＝ポートフォリオ＝＝＝＝＝＝ */
#portforio{
  width: auto;
  background-color: #ECEFF1;
  padding: 90px 0;
}

.portforio-content{
  width: 920px;
  margin: 0 auto;
  text-align: center;
}

.portforio-content h1{
  font-size: 32px;
}

/* 棒線 */
.portforio-content h1::after{
  content: "";
  display: block;
  width: 70px;
  height: 3px;
  margin: 8px auto 0 auto;
  margin-left: auto;
  margin-right: auto;
}

.portforio-content p{
  margin: 30px 0;
  font-size: 16px;
}

.pic-group1{
  background-image: url(img/sketch.jpg); 
  width: 300px;
  height: 250px;
  float: left;
  margin-right: 10px;
  margin-bottom: 10px;
  background-size: cover;
  background-position: bottom;
}

.pic-group2{
  background-image: url(img/websuku.png); 
  width: 300px;
  height: 250px;
  float: left;
  margin-right: 10px;
  margin-bottom: 10px;
  background-size: cover;
  background-position: bottom;
}

.pic-group3{
  background-image: url(img/write.jpg); 
  width: 300px;
  height: 250px;
  float: left;
  margin-bottom: 10px;
  background-size: cover;
  background-position: bottom;
}

.pic-group4{
  background-image: url(img/webcamp.png); 
  width: 300px;
  height: 250px;
  float: left;
  margin-right: 10px;
  background-size: cover;
  background-position: bottom;
}

.pic-group5{
  background-image: url(img/talk.jpg); 
  width: 300px;
  height: 250px;
  float: left;
  margin-right: 10px;
  background-size: cover;
  background-position: bottom;
}

.pic-group6{
  background-image: url(img/webcamp-mother.png); 
  width: 300px;
  height: 250px;
  float: left;
  background-size: cover;
  background-position: bottom;
}



/* ＝＝＝＝＝＝フィーチャー＝＝＝＝＝＝ */
#feature{
  width: auto;
  padding: 90px 0;
}

.feature-content{
  width: 980px;
  margin: 0 auto;
  text-align: center;
}

.feature-content h1{
  font-size: 32px;
}

/* 棒線 */
.feature-content h1::after{
  content: "";
  display: block;
  width: 70px;
  height: 3px;
  margin: 8px auto 0 auto;
  background-color: #EC715F;
  margin-left: auto;
  margin-right: auto;
}

.feature-content p{
  margin: 30px 0;
  font-size: 16px;
}

.strength-item{
  width: 320px;
  margin-right: 10px;
  float: left;
}

.strength-item:last-child{
  margin-right: 0px;
}

.strength-item i{
  font-size: 60px;
}

.strength-item h1{
  font-size: 20px;
  padding: 10px 0;
}






/* ＝＝＝＝＝＝プロフィール＝＝＝＝＝＝ */
#profile{
  width: auto;
  background-color: #ECEFF1;
  padding: 90px 0;
}

.profile-content{
  width: 1024px;
  margin: 0 auto;
  text-align: center;
}

.profile-about h1{
  font-size: 32px;
}

/* 棒線 */
.profile-about h1::after{
  content: "";
  display: block;
  width: 70px;
  height: 3px;
  margin: 8px auto 0 auto;
  margin-left: auto;
  margin-right: auto;
}

.profile-about p{
  padding: 30px 0;
  font-size: 16px;
}

.profil-img{
  width: 512px;
  float: left;
}

.profil-img img{
  width: 250px;
  height: 250px;
  border-radius: 50%;
}

.profile-text{
  width: 512px;
  float: left;
  text-align: left;
}

.profile-text h2{
  font-size: 20px;
}

.profile-text p{
  font-size: 16px;
  padding-top: 5px;
}

.profile-text .my-name{
  padding-bottom: 20px;
}




/* ＝＝＝＝＝＝コンタクト＝＝＝＝＝＝ */
#contact{
  width: auto;
  padding: 90px 0;
}

.contact-content{
  width: 800px;
  margin: 0 auto;
  text-align: center;
}

.contact-about h1{
  font-size: 32px;
}

/* 棒線 */
.contact-about h1::after{
  content: "";
  display: block;
  width: 70px;
  height: 3px;
  margin: 8px auto 0 auto;
  background-color: #EC715F;
  margin-left: auto;
  margin-right: auto;
}

.contact-about p{
  padding: 30px 0;
  font-size: 16px;
}

.contact-left{
  float: left;
  width: 400px;
  text-align: center;
}

.left-group{
  text-align: left;
  display: inline-block;
}

.contact-left h2{
  font-size: 20px;
  padding-bottom: 5px;
}

.contact-left p{
  font-size: 20px;
  padding-bottom: 5px;
  text-decoration: underline;
}

.contact-right{
  float: left;
  width: 400px;
  text-align: center;
}

.right-group{
text-align: left;
display: inline-block;
}

.right-group h2{
  font-size: 20px;
}

.right-group i{
  font-size: 50px;
  margin-right: 20px;
}

.right-group i:last-child{
  margin-right: 0px;
}




/* ＝＝＝＝＝＝フッター＝＝＝＝＝＝ */
footer{
  width: auto;
  background-color: #EC715F;
  line-height: 60px;
  font-size: 16px;
  color: #FAFAFA;
  text-align: center;
}







/* ＝＝＝＝＝＝レスポンシブ対応＝＝＝＝＝＝ */
@media screen and (max-width: 767px){

  /* ＝＝＝＝＝＝ハンバーガーメニュー＝＝＝＝＝＝ */
  .menu-box {
    float: right;
    width: 40px;
    height: 40px;
    margin-right: 5%;
    border: 1px solid #FAFAFA;
    margin-top: 5px;
    margin-bottom: 5px;

  }

  .list-bar {
    display: block;
    width: 25px;
    height: 2px;
    margin: 5px auto;
    background-color: #FAFAFA;
  }

  .list-bar:first-child {
    margin-top: 10px;
  }

  /* ＝＝＝＝＝＝ヘッダー＝＝＝＝＝＝ */
  .head{
    width: 90%;
    height: 50px;
  }

  .head img{
    height: 50px;
  }

  .nav-list-item{
    display: none;
  }

  /* ＝＝＝＝＝＝ロレム＝＝＝＝＝＝ */
  #lorem{
    background-image: url(img/code.png); 
  }

  .lorem-content{
    width: 90%;
    margin: 0 auto;
  }

  .lorem-content h1{
    padding: 200px 0 10px;
    font-size: 40px;
    color: #FAFAFA;
  }
  
  .lorem-content p{
    font-size: 18px;
    color: #FAFAFA;
  }


  /* ＝＝＝＝＝＝ポートフォリオ＝＝＝＝＝＝ */
  .portforio-content{
    width: 90%;
  }

  .pic-group1{
    background-image: url(img/websuku.png); 
    margin: 0 auto;
    margin-bottom: 10px;
    float: none;

  }
  .pic-group2{
    background-image: url(img/webcamp.png); 
    margin: 0 auto;
    margin-bottom: 10px;
    float: none;
  }

  .pic-group3{
    background-image: url(img/webcamp-mother.png); 
    float: none;
    margin: 0 auto;
  }

  .pic-group4{
    display: none;
  }

  .pic-group5{
    display: none;
  }

  .pic-group6{
    display: none;
  }







  /* ＝＝＝＝＝＝フィーチャー＝＝＝＝＝＝ */
  .feature-content{
    width: 90%;
  }

  .strength-item{
    margin: 0 auto;
    float: none;
  }

  .strength-item:last-child{
    margin: 0 auto;
  }


  /* ＝＝＝＝＝＝プロフィール＝＝＝＝＝＝ */
  .profile-content{
    width: 90%;
  }

  .profil-img{
    float: none;
    margin: 0 auto;
    width: 90%;
  }

  .profile-text{
    float: none;
    margin: 0 auto;
    text-align: center;
    width: 90%;
  }




  /* ＝＝＝＝＝＝コンタクト＝＝＝＝＝＝ */
  .contact-content{
    width: 90%;
  }

  .contact-left{
    float: none;
    margin: 0 auto;
  }

  .contact-right{
    float: none;
    margin: 0 auto;
  }

  .left-group{
    text-align: center;
  }

  .left-group p{
    padding: 5px 0 20px;
  }

  .right-group{
    text-align: center;
  }

  .right-group i{
    padding-top: 5px;
  }





}